//text
$color-basic: #102654;
$color-white: #ffffff;
$color-blue: #103aae;
$privilege-text:  #2e35ac;

//card
$color-blue-secondary: #1c3374;
$shadow: #e8e8e8;
$gradient-number: #0041ca;
$border-color: #00359f;
$crossfit: rgb(182, 189, 204);
$jury-back: rgba(16, 38, 84, 0.89);

//buttons
$color-dark-red: #d10a42;
$color-baners: #ed0233;
$color-baners2: #003eb7;
$color-white-secondary: #f8f9fc;
$color-black: #030a1a;
$radius: rgb(237, 2, 51, 0.2);
$numbers: rgba(120, 120, 120, 0.2);
$hover-button: #787878;
$gray-link: #74819c;

//form
$color-error: #ff121f;

//line
$color-line: #74819c;

// fonts
$alumni: "Alumni Sans", "Arial", sans-serif;
$roboto: "Roboto Condensed", "Arial", sans-serif;
